{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Network Health {% else %}Network Health Dashboard{% endif %}
{% endblock %}


{% block styles %}
	  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css">
	  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css">
	  {{super()}}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-inverse navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Network Health</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
<!-- 	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/">Our Membership <span class="sr-only">(current)</span></a></li>
	        <li><a href="/sitter-onboarding">Sitter Onboarding</a></li>
	        <li><a href="/owner-onboarding">Owner Onboarding</a></li>
	        <li><a href="/net-health">Network Health</a></li>
	      </ul>
	    </div> /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
{% endblock %}

{% block content %}
	<div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <!-- <div class="well sidebar-nav"> -->
            <ul class="nav nav-list">
              <li class="nav-header">Membership</li>
              <li class="active"><a href="/membership-growth">Membership Growth</a></li>
              <li><a href="/membership-ratio">Member Ratios</a></li>
              <li class="nav-header">New Sitters</li>
              <li><a href="/new-sitter-success">Success</a></li>
              <li><a href="/new-sitter-activity">Activity</a></li>
              <li><a href="/new-sitter-volume">Volume</a></li>
              <li><a href="/new-sitter-verif">Verification</a></li>
              <li class="nav-header">New Owners</li>
              <li><a href="/new-owner-success">Success</a></li>
              <li><a href="/new-owner-activity">Activity</a></li>
              <li><a href="/new-owner-volume">Volume</a></li>
              <li class="nav-header">Network Health</li>
              <li><a href="/active-sitter-success">Active Sitter Success</a></li>
              <li><a href="/active-owner-success">Active Owner Success</a></li>
              <li><a href="/active-member-ratio">Active Member Ratios</a></li>
            </ul>
          <!-- </div> -->
        </div><!--/span-->
   
        <div class="col-md-9">
			<H1>{{ title }}</H1>

			{% block app_content %}{% endblock %}
		</div>
	</div><!-- /row -->
  </div><!-- /container -->
{% endblock %}